<% include partials/header %>

<body class="boards-body">
    <% include partials/board-nav %>
    <div class="board-banner">
        <div id="banner-container">
            <img src="" id="banner-img">
        </div>
        <div id="board-title">/<%= board.slug %>/ - <%= board.name %></div>
    </div>
    <hr class="ninety">

    <div>Ad goes here</div>

    <hr class="below-title">
    
    <div class="post-form">
        <div id="post-form-toggle">[<a href="">Post a Reply</a>]</div>
        <!--4chans 'form' is a table, so I made my own version of it cuz I ain't touching that-->
       <div id="threadForm">
            <form action="/board/<%= board.slug %>/thread/<%=thread.id%>" style="display: none;" id="post-thread-form" method="post">
                <div class="inputField">
                    <div for="name" class="label">Name</div><input type="text" name="name" placeholder="Anonymous">
                </div>
                <div class="inputField">
                    <div for="options" class="label">Options</div><input type="text" name="options"><button type="submit">Post</button>
                </div>
                <div class="inputField">
                    <div for="comment" class="label" id="boardComment">Comment</div><textarea name="comment" id="comment" cols="48" rows="4" wrap="soft" tabindex="4"></textarea>
                </div>
                <!--<div>
                    <label for="verification">Verification</label><div></div>
                </div>-->
                <div class="inputField">
                    <div for="file" class="label" id="boardFile">File</div><input type="file" name="upfile">
                </div>
        </div>
    </div>
    <div class="board-announcment">
        <hr class="short-length">
        <p>1/5/2017 - Remember to read the rules you dummies.</p>
        <hr class="short-length">
    </div>
    
    <!--display each thread from this board, make a seperate file for this ? -->
        <div class="thread-tools" style="text-align:left">
            [<a href="../">Return</a>]
        </div>
        <hr>
        <section class="thread-container id-<%= thread.id %> clearfix">
                <!--<span class="hideIcon"><img src="/assets/img/tools/expand.png"></span>-->
                <div class="thread">
                    <div class="threadThumbnail">
                        <a class="threadImg-big" href="<%= thread.file %>">
                            <img class="threadImg" src="<%= thread.file %>" title="Click to enlarge image.">
                        </a>
                    </div>
                    <span id="thread-title"><%= thread.subject %></span>
                    <span id="thread-author"><%= thread.author %></span>
                    <span id="thread-date"><%= thread.createdAt %></span>
                    <span id="thread-id">No.<%= thread.id %></span>
                    <blockquote id="thread-message" class="comment"><%= thread.comment %></blockquote>
                     <!-- Begin comments-->
                    <div class = "reply-container">
                        <% thread.comments.forEach(function(reply){ %>
                            <span class="sideArrow">>>>&nbsp;</span>
                            <div class="reply">
                                <div class="comment-info">
                                    <span id="thread-author"><%= reply.author %>&nbsp;</span>
                                    <span><i><%= reply.createAt %></i>&nbsp;</span>
                                    <span>No.<%= reply.id %>&nbsp;</span>
                                </div>
                                <% if(!(reply.file === null)) { %>
                                    <div class="threadThumbnail commentThumbnail">
                                        <a class="threadImg-big" href="<%= reply.file %>">
                                            <img class="threadImg" src="<%= reply.file %>" title="Click to enlarge image.">
                                        </a>
                                    </div>
                                <% } %>
                                <blockquote class="comment"><%= reply.comment %> &nbsp;</blockquote>
                            </div>
                        <% }); %>
                    </div>
                </div>
        </section>

    <hr>
    <hr>
    <script src="/assets/js/boards-main.js"></script>
    <script src="/assets/js/threads-main.js"></script>    
</body>

<% include partials/footer %>